@font-face {
  font-family: logo-font;
  src: url(Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.first-section {
  background-image: url(background-image.jpg);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  padding-top: 120px;
  text-align: center;
  flex: 1;
  position: relative;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: logo-font;
}

.logo-img {
  width: auto;
  height: 100px;
}

.logo-text {
  font-size: 5rem;
}

footer {
  color: white;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
}

.form-container {
  border: 1px solid black;
  flex: 2;
}